[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CMFsurrogate"]
	path = CMFsurrogate
	url = https://github.com/cran/CMFsurrogate
[submodule "OSsurvival"]
	path = OSsurvival
	url = https://github.com/cran/OSsurvival
[submodule "OptimalSurrogate"]
	path = OptimalSurrogate
	url = https://github.com/cran/OptimalSurrogate
[submodule "PTERP"]
	path = PTERP
	url = https://github.com/cran/PTERP
[submodule "Rsurrogate"]
	path = Rsurrogate
	url = https://github.com/laylaparast/rsurrogate
[submodule "SBdecomp"]
	path = SBdecomp
	url = https://github.com/laylaparast/sbdecomp
[submodule "SurrogateOutcome"]
	path = SurrogateOutcome
	url = https://github.com/cran/SurrogateOutcome
[submodule "SurrogateRank"]
	path = SurrogateRank
	url = https://github.com/laylaparast/surrogaterank
[submodule "SurrogateSeq"]
	path = SurrogateSeq
	url = https://github.com/laylaparast/surrogateseq
[submodule "SurrogateTest"]
	path = SurrogateTest
	url = https://github.com/cran/SurrogateTest
[submodule "cohetsurr"]
	path = cohetsurr
	url = https://github.com/cran/cohetsurr
[submodule "freebird"]
	path = freebird
	url = https://github.com/cran/freebird
[submodule "hetsurr"]
	path = hetsurr
	url = https://github.com/cran/hetsurr
[submodule "hetsurrSurv"]
	path = hetsurrSurv
	url = https://github.com/laylaparast/hetsurrsurv
[submodule "hettest"]
	path = hettest
	url = https://github.com/laylaparast/hettest
[submodule "landest"]
	path = landest
	url = https://github.com/cran/landest
[submodule "landmix"]
	path = landmix
	url = https://github.com/cran/landmix
[submodule "landpred"]
	path = landpred
	url = https://github.com/cran/landpred
[submodule "longsurr"]
	path = longsurr
	url = https://github.com/cran/longsurr
